html{

}


table {

}

p {

}
.title{
text-align: right;
margin-right: 10px;
}
.img{
width:300px;
}


.customer-name {

}

.reminder {

}


.KvKreminder {

}
.TxtBoxFactuurnummer{

}
.totalAmount{

}
.totalAmount td.totalAmount{

}
.bottomCompanyName{

}
.bottomTelephone{

}
.bottomAdress{

}

td.subtotalRow span{

}

td.subtotalRow{

}


.amount {


}
thead tr td {

}