html{
font-family:"helvetica neue", "arial", sans-serif ;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top:36px;
   }

p {
    margin: 0;
}

.TopRecieverBox{
margin-top: 50px;
}


.customer-name {
    margin-top: 16px;
    font-weight: bold;
}

.reminder {
    margin-top: 36px;
}


.KvKreminder {
    margin-top: 50px;
    float: right;
    text-align: right;
}
.TxtBoxFactuurnummer{
    text-align: right;
     float: right;
     margin-top: 50px;
}
.totalAmount{
border-top: 1px solid black;
font-weight: bold;
padding-top: 10px;
padding-bottom: 10px;
}
.totalAmountamount{
 text-align: right;
 }

.bottomCompanyName{
padding-top: 100px;
}
.bottomTelephone{
margin-top: 12px;
}
.bottomAdress{
margin-top: 32px;
}
.TableTitlesamount{
 text-align: right;
 }
 .TableTitles{
font-weight: bold;
 }

td.subtotalRow span{
    border-top: 1px solid black;
    display:inline-block;
    padding-top: 4px;
    padding-left: 10px;
}



td.subtotalRow{
text-align: right;
}

.footspacer td{
padding-bottom: 16px;
}

.amount {
    text-align: right;
    padding-bottom: 16px;
    padding-top: 16px;

}
.spacer{
padding-bottom: 40px;
}


thead tr td {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
table td{
    padding-right:10px;
    padding-left:10px;
}